@page "/aboutus"

<div style="display: flex; justify-content: center;  height: 100vh;">

    <div style="text-align: center; max-width: 600px; margin-top: 10px;">

        <h3>About Us</h3>
        <img src="/images/pexels-sides-imagery-3351927.jpg" alt="Restaurant Image" style="max-width: 25%; height: auto; margin-bottom: 20px;" />

        <p>Welcome to restaurant Athena!</p> 
        <p>Experience delightful dining with the finest ingredients and mouthwatering dishes. Our cozy ambiance is perfect for any occasion, complemented by exceptional service from our friendly staff.</p>

        <p>Explore our diverse menu, featuring a variety of culinary delights. From appetizers to desserts, there's something for every palate. We look forward to serving you and creating moments of joy through delightful food and warm hospitality.</p>

        <p style="margin-top: 20px; font-weight: bold;">
            Athena Restaurant<br />
            123 Olympus Street<br />
            Mount Olympus, GR 54321<br />
            Greece
        </p>
    </div>

</div>
