@using BlazorAthenaFrontend.Services
@inject CartService CartService
@page "/checkout"
<h3>Checkout</h3>
<h3>You have @CartService.SelectedProducts.Count in cart:</h3>
@foreach (var product in CartService.SelectedProducts)
{
    <div>
        @product.Name and @product.Price
    </div>
}
@code {



}
