@page "/images" 
@using BlazorAthenaFrontend.Data
@using Microsoft.CodeAnalysis.Elfie.Diagnostics
@using Microsoft.Extensions.Logging
@inject ImageService ImageService
<PageTitle>img test</PageTitle>

<h3>File Upload</h3>

@if (imgs != null)
{
    
    @foreach (var img in imgs)
    {
       <tr>
           <td>@img<button @onclick="@(e => Del(@img))">Delete</button></td>
       </tr> 
    }

}
<InputFile OnChange="@OnInputFileChange" />

@code {
    string[] imgs = null;

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        var file = e.File;
        ImageService.UploadImage(file);
    }

    private async Task GetImage()
    {
        //
    }

    protected override async Task OnInitializedAsync()
    {
        imgs = await ImageService.GetImagesAsync();
    }

     public async void Del(string filename)
    {
        ImageService.Delete(filename);
    }

}

